#opt {
  background-color: #4CAF50;
}
.center {
  width: 60%;
  margin: auto;
  padding: 10px;
}

.usage {
  margin-left: 40px;
}

.jumbotron{
  margin-left: 20px;
  margin-right: 20px;
}

#sqv{
  margin-bottom: 20px;
}

.miniTitle {
  color: midnightblue;
}

#useSqv{
  margin-bottom: 20px;
}


table {
  margin-left: 20px;
  margin-right: 20px;
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 15px;
}

ul.list {
  list-style-type: circle;
  font-weight: normal;
}

.code{
  background-color: rgba(57,62,65,0.9);
  color:white;
  padding: 10px;
  font-size:13px;
}


.flex-container {
  display: flex;
  margin-bottom: 40px;
}

.flex-container > div {
  padding: 20px;
}
