<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  <div class="jumbotron text-center">
    <h1>Sequence Viewer</h1>
    <h5>Sequence Viewer is a package to use in order to highlight specific region of a protein or of aligned sequences</h5>
  </div>





  <div class="white index">
    <div class="flex-container">

        <div id="toc_container">
          <h4 class="toc_title"> <b>Contents</b> </h4>
          <ul class="toc_list">
            <li><a href="#First_Point_Header">1. viewSequence MODE</a>
              <ul>
                <li><a href="#First_Sub_Point_1">1.1 Usage</a></li>
                <li><a href="#First_Sub_Point_2">1.2 Examples</a></li>
              </ul>
            </li>
            <li><a href="#Second_Point_Header">2. ALIGNSEQUENCES MODE</a></li>
            <ul>
              <li><a href="#Second_Sub_Point_1">1.1 Usage</a></li>
              <li><a href="#Second_Sub_Point_2">1.2 Examples</a></li>
            </ul>
            <li><a href="#Third_Point_Header">3. INSTALLATION</a></li>
            <li><a href="#Fourth_Point_Header">4. SUMMARY</a></li>
          </ul>
        </div>

        <div class="item">
          <h4 style="color: midnightblue;">SequenceViewer: "viewSequence" mode</h4>
          <lib-sqv *ngIf="options" [op]="options"></lib-sqv>
        </div>

        <div class="item">
          <h4 style="color: midnightblue;">SequenceViewer: "alignSequences" mode</h4>
          <lib-sqv *ngIf="optionsAlign" [op]="optionsAlign"></lib-sqv>
        </div>

    </div>
  </div>




<div class="white">
    <div>
      <h4 style="color: midnightblue;" id="First_Point_Header">SequenceViewer: "viewSequence" mode</h4>
            <h4 id="First_Sub_Point_1"> <b>1. Usage</b> </h4>
            <ul class="list">
              <li>
                <b class ="miniTitle">mode</b> (string):<br>
                <b>viewSequence</b> mode is used to display information about a sequence. <br>
                In this mode, the input has to be a single sequence. In case more sequences are submitted, the first one will be choosen.
              </li>
              <li>
                <b class ="miniTitle">rawData:</b> (array of string, array or object)<br>
                <p>Display characters or images on top of the sequence.<br>
                  In sequence rawDataer each element of the rawData array is intended as a row of residues, numbers, symbols or images. <br>
                  In this way, also secondary structure or post-transcriptional modification can be indicated.  </p>
              </li>
              <li>
                <b class ="miniTitle">parameters:</b> (object)<br>
                <p>Show a space between chunks of a sequence: <br>
                  You can set the length of chunks (number of residues per chunk) using the parameter <b>chunkSize</b>. <br>
                  If you want a fixed layout set the desired chunkSize and set the width of the parent div.<br>

                  Choose the desired <b>fontSize</b>. (pixel or vw for fixed layouts). <br>
                  If not set, default value will be 14px. <br>

                  <b>SkipIndex</b> sets the number of alternating indexes to show.  <br>
                  Particular cases:
                  If skipIndex is not set, no index will be showed. Set skipIndex to the sequence length to display all indexes instead.  <br>

                  It is possible to set the colorChoice in 3 different modes. <br>
                  <b>adjacent</b>: color regions with adjacent colors of the color spectrum, <br>
                  <b>opposite</b>: color regions with opposite colors of the color spectrum, <br>
                  <b>custom</b>: allows the user to choose his own colors for regions. In this case, besides setting the colorChoice to customizable, colors has to be set with the specific colors option. It is necessary to insert a color for each region.</p>
              </li>
              <li>
                <b class ="miniTitle">colors:</b> (array)
                Specify <b>type</b>, bounds (<b>start</b>, <b>end</b>) and <b>colors</b>. For type “insertion” a color has to be set. <br>
                For regions instead, you may choose a color through the custom color option or instead you can simply set one of the default modes (adjacent or opposite).
              </li>
              <li>
                <b class ="miniTitle">id:</b> (array)
                Specify an id for the sequence rawDataer object. It can be number, letters and symbols.
              </li>
            </ul>
    </div>
</div>




<div class="white">

  <h4 id="First_Sub_Point_2"> <b>2. Examples</b> </h4>
<!--  SIMPLE EXAMPLE-->
  <div class="row jumbotron">

    <div class="col">
      <h6> <b>Simple case</b> </h6>
      <code class="hljs">options =  &#123;<br>

        <span class="hljs-attr">mode</span>: <span class="hljs-string">'viewSequence'</span>,<br>&#123;<br>

        <span class="hljs-attr">parameters</span>:  &#123;<br>
        &nbsp;<span class="hljs-attr">colorChoice</span>: <span class="hljs-string">'opposite'</span>
        <br> },<br>

        <span class="hljs-attr">rawData</span>: [
          <span class="hljs-string">'MFVPETEDMLPRLAPRPSAAVPMGHTNEIIGPTVPEVSILFGQPPQDPQM'</span>
        ],<br>

        <span class="hljs-attr">colors</span>: [ <br>&#123;<br>
        &nbsp;<span class="hljs-attr">type</span>: <span class="hljs-string">'region'</span>,<br>
        &nbsp;<span class="hljs-attr">start</span>: <span class="hljs-number">1</span>,<br>
        &nbsp;<span class="hljs-attr">end</span>: <span class="hljs-number">18</span><br>
        },<br>
        &#123;<br>
        &nbsp;<span class="hljs-attr">type</span>: <span class="hljs-string">'insertion'</span>,<br>
        &nbsp;<span class="hljs-attr">start</span>: <span class="hljs-number">19</span>,<br>
        &nbsp;<span class="hljs-attr">end</span>: <span class="hljs-number">24</span>,<br>
        &nbsp;<span class="hljs-attr">color:</span> &#123;
        <span class="hljs-attr">r</span>: <span class="hljs-number">255</span>,
        <span class="hljs-attr">g</span>: <span class="hljs-number">255</span>,
        <span class="hljs-attr">b</span>: <span class="hljs-number">0</span>,
        <span class="hljs-attr">a</span>: <span class="hljs-number">0.5</span>
        }<br>
        },<br>
        &#123;
        &nbsp;<span class="hljs-attr">type</span>: <span class="hljs-string">'region'</span>,
        &nbsp;<span class="hljs-attr">start</span>: <span class="hljs-number">25</span>,
        &nbsp;<span class="hljs-attr">end</span>: <span class="hljs-number">34</span>,
        }<br>
        ],<br>
        <span class="hljs-attr">id</span>: <span class="hljs-string">'sqv-1'</span>
        };</code>
      <br>
    </div>
    <div class="col">
      <lib-sqv *ngIf="exOne" [op]="exOne"></lib-sqv>
    </div>
  </div>
  <!--  INDEXES EXAMPLE-->
  <div class="row jumbotron">

    <div class="col">
      <h6> <b>Adding indexes</b> </h6>
      <code class="hljs">options =  &#123;<br>

        <span class="hljs-attr">mode</span>: <span class="hljs-string">'viewSequence'</span>,<br>&#123;<br>

        <span class="hljs-attr">parameters</span>:  &#123;<br>
        &nbsp;<span class="hljs-attr">colorChoice</span>: <span class="hljs-string">'opposite'</span>
        <br> },<br>

        <span class="hljs-attr">rawData</span>: [
        <span class="hljs-string">'MFVPETEDMLPRLAPRPSAAVPMGHTNEIIGPTVPEVSILFGQPPQDPQM',</span><br>

          &#123;
          <span class="hljs-number">2</span>: <span class="hljs-string">'a'</span>,
          <span class="hljs-number">3</span>: <span class="hljs-string">'a'</span>,
          <span class="hljs-number">4</span>: <span class="hljs-string">'a'</span>,
          <span class="hljs-number">5</span>: <span class="hljs-string">'a'</span>,
          <span class="hljs-number">6</span>: <span class="hljs-string">'a'</span>,
          <span class="hljs-number">7</span>: <span class="hljs-string">'a'</span>,
          <span class="hljs-number">8</span>: <span class="hljs-string">'a'</span>,
          <span class="hljs-number">20</span>: <span class="hljs-string">'b'</span>,
          <span class="hljs-number">21</span>: <span class="hljs-string">'b'</span>,
          <span class="hljs-number">22</span>: <span class="hljs-string">'b'</span>,
          <span class="hljs-number">23</span>: <span class="hljs-string">'b'</span>,
          <span class="hljs-number">24</span>: <span class="hljs-string">'b'</span>
          },<br>
          &#123;
          <span class="hljs-number">0</span>: '&amp;#x2605;'
        <span class="hljs-number">1</span>: <span class="hljs-string">'&amp;#x2605;'</span>,
          <span class="hljs-number">31</span>: <span class="hljs-string">'&amp;#x2605;'</span>,
          <span class="hljs-number">32</span>: <span class="hljs-string">'&amp;#x2605;'</span>
          },<br>
          &#123;
          <span class="hljs-number">0</span>: <span class="hljs-number">1</span>,
          <span class="hljs-number">1</span>: <span class="hljs-number">2</span>,
          <span class="hljs-number">2</span>: <span class="hljs-number">3</span>,
          <span class="hljs-number">3</span>: <span class="hljs-number">4</span>,
          <span class="hljs-number">4</span>: <span class="hljs-number">5</span>,
          <span class="hljs-number">5</span>: <span class="hljs-number">6</span>,
          <span class="hljs-number">6</span>: <span class="hljs-number">7</span>,
          <span class="hljs-number">7</span>: <span class="hljs-number">8</span>,
          <span class="hljs-number">10</span>: <span class="hljs-number">11</span>,
          <span class="hljs-number">11</span>: <span class="hljs-number">12</span>,
          <span class="hljs-number">12</span>: <span class="hljs-number">13</span>,
          <span class="hljs-number">13</span>: <span class="hljs-number">14</span>,
          <span class="hljs-number">14</span>: <span class="hljs-number">15</span>,
          <span class="hljs-number">15</span>: <span class="hljs-number">16</span>
          }<br>
        ],<br>

        &nbsp;<span class="hljs-attr">colors</span>: [ <br>&#123;<br>
        &nbsp;<span class="hljs-attr">type</span>: <span class="hljs-string">'region'</span>,<br>
        &nbsp;<span class="hljs-attr">start</span>: <span class="hljs-number">21</span>,<br>
        &nbsp;<span class="hljs-attr">end</span>: <span class="hljs-number">38</span>
        }<br>
        ],<br>
        <span class="hljs-attr">id</span>: <span class="hljs-string">'sqv-1'</span>
        };</code>
      <br>
    </div>
    <div class="col">
      <lib-sqv *ngIf="exIndexes" [op]="exIndexes"></lib-sqv>
    </div>
  </div>
  <!--  COLORS EXAMPLE-->
  <div class="flex-container jumbotron">
    <div>
      <h6> <b>Personalize colors</b> </h6>
      <code class="hljs">options =  &#123;<br>

        <span class="hljs-attr">mode</span>: <span class="hljs-string">'viewSequence'</span>,<br>&#123;<br>

        <span class="hljs-attr">parameters</span>:  &#123;<br>
        &nbsp;<span class="hljs-attr">colorChoice</span>: <span class="hljs-string">'custom'</span><br>
        &nbsp;<span class="hljs-attr">chunkSize</span>: <span class="hljs-string">20</span>
        <br> },<br>

        <span class="hljs-attr">rawData</span>: [
        <span class="hljs-string">'MFVPETEDMLPRLAPRPSAAVPMGHTNEIIGPTVPEVSILFGQPPQDPQM'</span>
        ],<br>

        <span class="hljs-attr">colors</span>: [ <br>&#123;<br>
        &nbsp;<span class="hljs-attr">type</span>: <span class="hljs-string">'region'</span>, <br>
        &nbsp;<span class="hljs-attr">start</span>: <span class="hljs-number">1</span>, <br>
        &nbsp;<span class="hljs-attr">end</span>: <span class="hljs-number">12</span>, <br>
        &nbsp;<span class="hljs-attr">color</span>:  &#123;
        <span class="hljs-attr">r</span>: <span class="hljs-number">237</span>,
        <span class="hljs-attr">g</span>: <span class="hljs-number">203</span>,
        <span class="hljs-attr">b</span>: <span class="hljs-number">150</span>
        }
        },<br>
        &#123;
        &nbsp;<span class="hljs-attr">type</span>: <span class="hljs-string">'region'</span>,<br>
        &nbsp;<span class="hljs-attr">start</span>: <span class="hljs-number">15</span>,<br>
        &nbsp;<span class="hljs-attr">end</span>: <span class="hljs-number">19</span>,<br>
        &nbsp;<span class="hljs-attr">color</span>:  &#123;
        <span class="hljs-attr">r</span>: <span class="hljs-number">96</span>,
        <span class="hljs-attr">g</span>: <span class="hljs-number">87</span>,
        <span class="hljs-attr">b</span>: <span class="hljs-number">112</span>,
        <span class="hljs-attr">a</span>: <span class="hljs-number">0.5</span>
        }
        },<br>
        &#123;
        <span class="hljs-attr">type</span>: <span class="hljs-string">'region'</span>,<br>
        <span class="hljs-attr">start</span>: <span class="hljs-number">22</span>,<br>
        <span class="hljs-attr">end</span>: <span class="hljs-number">26</span>,<br>
        <span class="hljs-attr">color</span>:  &#123;
        <span class="hljs-attr">r</span>: <span class="hljs-number">221</span>,
        <span class="hljs-attr">g</span>: <span class="hljs-number">189</span>,
        <span class="hljs-attr">b</span>: <span class="hljs-number">213</span>
        }
        }<br>
        ],<br>
        <span class="hljs-attr">id</span>: <span class="hljs-string">'sqv-1'</span>
        };</code>
    </div>
    <div>
      <lib-sqv *ngIf="exColors" [op]="exColors"></lib-sqv>
    </div>
</div>
  </div>


<div class="white">
  <div>
    <h4 id="Second_Point_Header" style="color: midnightblue;">SequenceViewer: "alignSequences" mode</h4>
    <h4 id="Second_Sub_Point_1"> <b>1. Usage</b> </h4>

      <ul class="list">
        <li>
          <b class ="miniTitle">mode</b> (string):<br>
          <i>alignSequences</i> mode is used to display information about aligned sequences. <br>
          In this mode, the input is intended to be multiple sequences.
        </li>
        <li>
          <b class ="miniTitle">rawData:</b> (array of string, array or object)<br>
          <p>Display characters or images on top of the sequence.<br>
            In sequence rawDataer each element of the rawData array is intended as a row of residues, numbers, symbols or images. <br>
            In this way, also secondary structure or post-transcriptional modification can be indicated.  </p>
        </li>
        <li>
          <b class ="miniTitle">parameters:</b> (object)
          Possible parameters are <i>chunkSize</i>, <i>fontSize</i>, <i>SkipIndex</i> (See previous explanation on viewSequence mode)
          <i>Color choice</i> doesn't need to be set.  <br>
        </li>
        <li>
          <b class ="miniTitle">colors:</b> (array)
          Specify <i>type</i>, <i>letter</i> and <i>colors</i>.<br>
        </li>
      </ul>
  </div>
</div>


<div class="white">

  <h4 id="Second_Sub_Point_2"> <b>2. Examples</b> </h4>
  <div class="flex-container jumbotron">
    <div>
      <!--  SIMPLE EXAMPLE-->
      <h6> <b>Simple case</b> </h6>
      <code class="hljs">options = &#123; <br>

        <span class="hljs-attr">mode</span>: <span class="hljs-string">'alignSequences'</span>,<br>

        <span class="hljs-attr">rawData</span>: [<br>
          <span class="hljs-string">'MFVPETEDMLPRLAPRPSA'</span>,<br>
          <span class="hljs-string">'MFVPETEDMLPRLAPRPSA'</span>,<br>
          <span class="hljs-string">'MFVPETEDMLPRLAPRPSA'</span>,<br>
          <span class="hljs-string">'MFVPETEDMLPRLAPRPSA'</span><br>
        ],<br>

        <span class="hljs-attr">colors</span>: [<br>&#123;<br>
        &nbsp;<span class="hljs-attr">type</span>: <span class="hljs-string">'aminoacid'</span>,<br>
        &nbsp;<span class="hljs-attr">letter</span>: <span class="hljs-string">'A'</span>,<br>
        &nbsp;<span class="hljs-attr">color</span>: &#123;
        <span class="hljs-attr">r</span>: <span class="hljs-number">204</span>,
        <span class="hljs-attr">g</span>: <span class="hljs-number">255</span>,
        <span class="hljs-attr">b</span>: <span class="hljs-number">0</span>,
        <span class="hljs-attr">a</span>: <span class="hljs-number">0.4</span>
        }
        },<br>
        &#123;<br>
        &nbsp;<span class="hljs-attr">type</span>: <span class="hljs-string">'aminoacid'</span>,<br>
        &nbsp;<span class="hljs-attr">letter</span>: <span class="hljs-string">'D'</span>,<br>
        &nbsp;<span class="hljs-attr">color</span>: &#123;
        <span class="hljs-attr">r</span>: <span class="hljs-number">0</span>,
        <span class="hljs-attr">g</span>: <span class="hljs-number">255</span>,
        <span class="hljs-attr">b</span>: <span class="hljs-number">102</span>,
        <span class="hljs-attr">a</span>: <span class="hljs-number">0.4</span>
        }
        },<br>
        &#123;<br>
        &nbsp;<span class="hljs-attr">type</span>: <span class="hljs-string">'aminoacid'</span>,<br>
        &nbsp;<span class="hljs-attr">letter</span>: <span class="hljs-string">'V'</span>,<br>
        &nbsp;<span class="hljs-attr">color</span>: &#123;
        <span class="hljs-attr">r</span>: <span class="hljs-number">239</span>,
        <span class="hljs-attr">g</span>: <span class="hljs-number">100</span>,
        <span class="hljs-attr">b</span>: <span class="hljs-number">97</span>,
        <span class="hljs-attr">a</span>: <span class="hljs-number">0.4</span>
        },<br>
        &#123;<br>
        &nbsp;<span class="hljs-attr">type</span>: <span class="hljs-string">'aminoacid'</span>,<br>
        &nbsp;<span class="hljs-attr">letter</span>: <span class="hljs-string">'P'</span>,<br>
        &nbsp;<span class="hljs-attr">color</span>: &#123;
        <span class="hljs-attr">r</span>: <span class="hljs-number">144</span>,
        <span class="hljs-attr">g</span>: <span class="hljs-number">0</span>,
        <span class="hljs-attr">b</span>: <span class="hljs-number">179</span>,
        <span class="hljs-attr">a</span>: <span class="hljs-number">0.4</span>
        }
        }<br>
        ],<br>
        <span class="hljs-attr">id</span>: <span class="hljs-string">'sqv-1'</span>
        };</code>
      <br>
    </div>
    <div>
      <lib-sqv *ngIf="alignSimple" [op]="alignSimple"></lib-sqv>
    </div>
  </div>
  <div class="flex-container jumbotron">
    <!--  ADDING INDEXES EXAMPLE-->
    <h6> <b>Adding Indexes</b> </h6>
    <code class="hljs">options = &#123;<br>

      <span class="hljs-attr">mode</span>: <span class="hljs-string">'alignSequences'</span>,<br>

      <span class="hljs-attr">parameters</span>: &#123;<br>
      <span class="hljs-attr">chunkSize</span>: <span class="hljs-number">10</span>,<br>
      <span class="hljs-attr">skipIndex</span>: <span class="hljs-number">5</span>
      },<br>
      <span class="hljs-attr">rawData</span>: [<br>
        <span class="hljs-string">'MFVPETEDMLPRLAPRPSA'</span>,<br>
        <span class="hljs-string">'MFVPETEDMLPRLAPRPSA'</span>,<br>
        <span class="hljs-string">'MFVPETEDMLPRLAPRPSA'</span>,<br>
      &#123;
      <span class="hljs-number">2</span>: <span class="hljs-string">'a'</span>,
      <span class="hljs-number">3</span>: <span class="hljs-string">'a'</span>,
      <span class="hljs-number">4</span>: <span class="hljs-string">'a'</span>,
      <span class="hljs-number">5</span>: <span class="hljs-string">'a'</span>,
      <span class="hljs-number">6</span>: <span class="hljs-string">'a'</span>,
      <span class="hljs-number">7</span>: <span class="hljs-string">'a'</span>
      },<br>
      &#123;
      <span class="hljs-number">0</span>: <span class="hljs-string">'&amp;#x2605;'</span>,
      <span class="hljs-number">1</span>: <span class="hljs-string">'&amp;#x2605;'</span>
      },<br>
      &#123;
      <span class="hljs-number">0</span>: <span class="hljs-number">1</span>,
      <span class="hljs-number">1</span>: <span class="hljs-number">2</span>,
      <span class="hljs-number">2</span>: <span class="hljs-number">3</span>,
      <span class="hljs-number">3</span>: <span class="hljs-number">4</span>,
      <span class="hljs-number">4</span>: <span class="hljs-number">5</span>,
      <span class="hljs-number">5</span>: <span class="hljs-number">6</span>,
      <span class="hljs-number">6</span>: <span class="hljs-number">7</span>,
      <span class="hljs-number">7</span>: <span class="hljs-number">8</span>,
      <span class="hljs-number">10</span>: <span class="hljs-number">11</span>,
      <span class="hljs-number">11</span>: <span class="hljs-number">12</span>,
      <span class="hljs-number">12</span>: <span class="hljs-number">13</span>,
      <span class="hljs-number">13</span>: <span class="hljs-number">14</span>,
      <span class="hljs-number">14</span>: <span class="hljs-number">15</span>,
      <span class="hljs-number">15</span>: <span class="hljs-number">16</span>
      }<br>
      ],<br>

      <span class="hljs-attr">colors</span>: [<br>&#123;<br>
      <span class="hljs-attr">type</span>: <span class="hljs-string">'aminoacid'</span>,<br>
      <span class="hljs-attr">letter</span>: <span class="hljs-string">'A'</span>,<br>
      <span class="hljs-attr">color</span>: &#123;
      <span class="hljs-attr">r</span>: <span class="hljs-number">204</span>,
      <span class="hljs-attr">g</span>: <span class="hljs-number">255</span>,
      <span class="hljs-attr">b</span>: <span class="hljs-number">0</span>,
      <span class="hljs-attr">a</span>: <span class="hljs-number">0.4</span>
      }<br>
      },<br>
      &#123;<br>
      <span class="hljs-attr">type</span>: <span class="hljs-string">'aminoacid'</span>,<br>
      <span class="hljs-attr">letter</span>: <span class="hljs-string">'D'</span>,<br>
      <span class="hljs-attr">color</span>: &#123;
      <span class="hljs-attr">r</span>: <span class="hljs-number">0</span>,
      <span class="hljs-attr">g</span>: <span class="hljs-number">255</span>,
      <span class="hljs-attr">b</span>: <span class="hljs-number">102</span>,
      <span class="hljs-attr">a</span>: <span class="hljs-number">0.4</span>
      }
      }<br>
      ],<br>
      <span class="hljs-attr">id</span>: <span class="hljs-string">'sqv-1'</span>
      };</code>
    <div>
      <lib-sqv *ngIf="alignInd" [op]="alignInd"></lib-sqv>
    </div>
</div>

<div class="jumbotron">
  <h4 id = "Third_Point_Header"> <b>3. Installation</b> </h4>
  <div class="flex-container">
    <div style="margin-right: 5px">
      1. Include the library into the project: <b>nmp i sqv-lib</b><br>
      2. Update <i>app.module.ts</i><br><br>
      <p class="code">
        import &#123; SqvLibModule } from 'sqv-lib';<br>

        @NgModule(&#123;<br>
        imports: [<br>
        ...<br>
        SqvLibModule<br>
        ...<br>
        ]<br>
        })<br>

        export class AppModule &#123; }<br>
      </p>
      3. It is now possible to set the options in <i>app.component.ts</i> (see Input section as example).<br>
    </div>
    <div>
      4. Then, in the template file <i>app.component.html</i> add the following:<br><br><br>
      <p  class="code">
        &lt;lib-sqv [op]="this.options">&lt;/lib-sqv>
      </p>
    </div>
    <div style="margin-left: 5px">
      <b>(Optional)</b>  5. If needed, one can change the options input and changes will be displayed.<br>
      In your component.ts :<br><br>
      <p  class="code">
        import &#123;SqvLibComponent} from ‘sqv-lib’<br>
        sqv: SqvLibComponent<br>
        this.options = 'your new options here'<br>
        this.sqv = new SqvLibComponent()<br>
        this.sqv.draw(this.options)<br>
      </p>
    </div>
  </div>
</div>

  <div class="white">
    <h4 id = "Fourth_Point_Header"> <b>4. Summary</b> </h4>
    <div class="flex-container">

      <ul class="list">
        <li>
          <b class ="miniTitle">mode</b> (string): <i>'viewSequences'</i>,<i>'alignSequences'</i>.
        </li>
        <li>
          <b class ="miniTitle">rawData:</b> (array of string, array or object):<br>
          <p> Example of input string: 'AAAAA' for a sequence or '12345' for indexes</p>
          <p> Example of input array: ['A', 'A'] or ['1','2']</p>
          <p> Example of input object: &#123;0: 'A', 1: 'A'} or &#123;0: '1', 1:'2'}</p>
          <p> Mixed input are allowed as well: 'AAAAA' and &#123;0: '1', 1:'2'}</p>
        </li>
        <li>
          <b class ="miniTitle">parameters:</b> (object):<br>
          <b>chunkSize </b>(integer): number of residues per line.,<br><br>
          <b>fontSize </b>(string): e.g. '14px' or '2vw',<br><br>
          <b>SkipIndex </b>(integer): number of alternating indexes to show,<br><br>
          <b>Color choice </b>(string): <i>'adjacent'</i>, <i>'opposite'</i>, <i>'custom'</i>  <br><br>
        </li>
        <li>
          <b class ="miniTitle">colors:</b> (array)<br>
          Specify:<br>
          <b>type</b>, 'region', 'insertion', 'aminoacid'<br>
          <b>start </b>(integer)<b>end </b>(integer) for region/insertion or <b>letter</b> (integer) for aminoacid
          <b>color </b>(object):<br> r g b
        </li>
      </ul>

    </div>
  </div>
</div>
