#opt {
  background-color: #4CAF50;
}
.center {
  width: 60%;
  margin: auto;
  padding: 10px;
}

.white {
  margin-left: 40px;
  margin-bottom: 40px;
}

.jumbotron{
  margin-left: 20px;
  margin-right: 20px;
}

.miniTitle {
  color: midnightblue;
}

#useSqv{
  margin-bottom: 20px;
}

.index{
  margin-right: 100px;
}

.item{
  margin: 30px;
  width: 600px;
}
table {
  margin-left: 20px;
  margin-right: 20px;
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 15px;
}

ul.list {
  list-style-type: circle;
  font-weight: normal;
}

.code{
  background-color: rgba(57,62,65,0.9);
  color:white;
  padding: 10px;
  font-size:13px;
}

.row{

}
.col{

}

.flex-container {
  display: flex;
  margin-bottom: 40px;
}

.column {
  -webkit-flex-direction: column;
  flex-direction: column;
  float: left;
  width: 100%;

}

.flex-container > div {
  padding: 20px;
}

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.example{
  display: inline-block;
}

.sqv{
  margin-top: 50px;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
  width: 500px;
}
.hljs-keyword {
  color: #00f;
}
.hljs-attr {
  color: #f00;
}
.hljs-string {
  color: #a31515;
}
